<h3>New User Signup Form</h3>


<!--<%= form_tag('/users') %>
<%= label_tag 'username' %><br />
<%= text_field_tag 'username' %><br />
<%= label_tag 'email' %><br />
<%= email_field_tag 'email' %><br />
<%= label_tag 'password' %><br />
<%= password_field_tag 'password' %><br />
<%= label_tag 'password confirmation' %><br />
<%= password_field_tag 'password_confirm' %><br />
<%= button_tag %>-->

<div>
    <%= form_for(@user) do |f| %>
        <%= f.label 'your username here' %>
        <%= f.text_field :username, :placeholder => 'username' %>
        
        <%= f.label 'your email here' %>
        <%= f.email_field :email, :placeholder => 'example@example.com' %>

        <%= f.label 'Enter your password' %>
        <%= f.password_field :password %>

        <%= f.label 'Confirm the password' %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account" %>
    <% end %>
</div>